@import "./index.css";

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     outline: 0;
}
html {
     scroll-behavior: smooth
 }
body {
     font-family: "Tajawal", sans-serif;
}
ol,ul {
     list-style: none
 }
 
 a {
     text-decoration: none
 }
 
